<!doctype html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<meta name="generator" content="Nette Framework">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="">

		<title>{include title|strip}</title>

		<link rel="shortcut icon" type="image/png" href="{$baseUrl}/favicon.ico">
		<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
		<script type="text/javascript">Loader.load();</script>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		{* Style assets *}
		<link rel="stylesheet" href="{$baseUrl}/files/styles/frontend.min.css">
	</head>
	<body class="{$presenter->name|webalize}">
		<div class="container-fluid">
			{* Flash messages printout *}
			<div class="container mt-3" n:snippet="flash-messages" n:inner-foreach="$flashes as $flash">
				<div class="alert alert-dismissible fade show alert-primary {$flash->type}">
					{$flash->message}
					<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			{include content}
		</div>

		{* JavaScript assets *}
		<script type="module" src="{$baseUrl}/scripts/bundle.js"></script>
		<script src="{$baseUrl}/files/scripts/combined.min.js"></script>

	</body>
</html>