parameters:
	# Mailer SMTP
	mail:
		host: 'smtp.mailtrap.io'
		username:
		password:
		secure: tls
		port: 2525

	# Database connection
	database:
		zone: '+1:00'
		host: 'localhost'
		username: 'root'
		password:
		database:

	# Website domain
	domain: localhost