<!doctype html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width">
		<title>Stránka nebyla nalezena</title>

		<link rel="shortcut icon" type="image/png" href="{$baseUrl}/favicon.ico">
		<link rel="stylesheet" href="{$baseUrl}/files/styles/frontend.min.css">
	</head>
	<body>
		<div class="mt-5 d-flex justify-content-center">
			<div class="mt-5 text-center">
				<h2 class="mt-5">Omlouváme se, ale stránka nebyla nalezena.</h2>
			</div>
		</div>
	</body>
</html>
